.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
}

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown:hover .dropdown-content {
    display: flex;
    flex-direction: column;
    color: $black;
}

.dropdown:hover .dropbtn {
    background-color: #3e8e41;
}